.page{
  width: 100%;
  .go{
    transform:rotate(-360deg);
    transition: all 1s;
  }
  .deploy{
    width: 100%;
    .environment{
      background-color: #3C3C3C;
      padding:5px 10px;
      .title{
        height: 40px;
        line-height: 40px;
        font-size:16px;
        span{
          display: inline-block;
        }
      }
      ul{
        background-color: #282828;
        padding: 10px 5px;
        font-size: 16px;
        li{
          line-height: 35px;
          p{
            font-size:13px;margin-top:-10px;
            i{
              display: inline-block;float:right;margin-right:10px;margin-top: 10px;
            }
          }
          input{
            background-color: #777;
            color: #fff;width: 90px;
            padding: 2px 5px;
            border-radius:2px;
            font-size: 13px;
          }
        }
        .input{
          font-size: 14px;
          input{
            width: 80px;
          }
        }
        .network{
          select{
            background-color: #777;
            border-radius:2px;
            font-size: 13px;
            padding: 2px 5px;
            color: #fff;width: 142px;
          }
        }
      }
    }
    .deployButton{
      height: 35px;
      cursor: pointer;
      line-height: 35px;
      font-size: 16px;
      text-align: center;
      color: #fff;
      background-color: #3C3C3C;
      border-radius: 5px;
      margin:20px 0;
      border: 1px solid rbg(187,187,187);
    }
    .txHash{
      position: relative;
      height: 80px;
      border: 1px solid rbg(187,187,187);
      background-color: #3C3C3C;
      padding: 10px;
      p{
        font-size: 16px;
      }
      textarea{
        background-color:#282828;
        width: calc(100% - 10px);
        margin-top: 10px;
        line-height: 20px;
        font-size: 14px;
        letter-spacing:1px;
        padding: 2px 5px;
        color: #fff;
      }
      .TxHashCopy{
        position: absolute;right:10px;
        bottom:20px;font-size:15px;
      }
    }
  }
  .run{
    width: 100%;
    .contract{
      background-color: #3C3C3C;
      padding:12px 15px;
      .content{
        padding: 10px 15px;
        border: 1px solid #929292;
        background-color:#282828;
        .title{
          height:40px;
          line-height:40px;
          font-size: 16px;
          span{
            display: inline-block;
          }
        }
        .regid{
          padding: 10px 0 5px 0;
          input{
            display: inline-block;
            border: 1px solid #929292;
            width: 70%;
            padding:5px 0;
            background-color: #3C3C3C;
            text-align: center;
            color: #fff;
          }
          span{
            display:inline-block;vertical-align: middle;font-size: 22px;
            margin-left:15px;
          }
        }
      }
    }
    .parameter{
      position: relative;
      border-radius: 3px;margin-top: 10px;
      background-color: #3C3C3C;
      padding: 10px 15px;
      .data{
        padding: 10px 15px;
        border: 1px solid #929292;
        background-color:#282828;
        ul{
          li{
            font-size: 12px;
            height: 30px;
            display: inline-block;
            .inner {
              vertical-align: middle;
              width: 15px;
              height: 15px;
              border: 1px solid #fff;
              display: inline-block;
              border-radius: 50%;
              margin-bottom: 0;
              cursor: pointer;
              position: relative;
              span{
                width: 7px;
                height:7px;
                position: absolute;
                left:4px;
                top:4px;
                background-color: #fff;
                display: inline-block;
                border-radius: 50%;
                margin-bottom: 0;
              }
            }
            input{
              width:30px;
              border-radius: 2px;
              padding: 0 2px;
              color: #333;
              cursor: pointer;
            }
          }
        }
        .add{
          border: 1px solid #929292;min-height: 120px;
          background-color: #3C3C3C;color: #fff;padding: 10px 15px;
          #select{
            background-color:#0B0A0A;font-size:13px;border-radius: 5px;
            padding:3px 5px;margin-left: 10px;color: #777;
          }
          .addBottom{
            display: inline-block;
            color: #333;padding: 3px 10px;
            border-radius: 5px;margin-left: 15px;
            background-color: #A49E9E;
            cursor: pointer;
          }
          .item{
            width: 100%;
            max-height: 160px;
            overflow-y: auto;
            p{
              margin-top: 10px;
              input{
                height: 20px;color: #333;
                font-size: 13px;
                padding: 0 5px;
                line-height: 20px;
                border-radius: 5px;
                width:calc(100% - 200px);
                cursor: pointer;
              }
              span{
                display: inline-block;
                font-size: 14px;
              }
              .delParam{
                width:16px;height:16px;border-radius: 50%;border: 1px solid #fff;cursor: pointer;
              }
            }
          }
        }
        p{
          font-size:16px;
        }
      }
    }
    .CallCommand{
      position: relative;
      border-radius: 3px;margin-top: 10px;
      background-color: #3C3C3C;
      padding: 10px 15px;
      .command{
        padding: 10px 15px;
        border: 1px solid #929292;
        background-color:#282828;
        p{
          font-size:16px;
        }
        input{
          background-color: #fff;
          width: calc(100% - 10px);
          height: auto;
          border-radius: 5px;
          margin-top: 10px;
          line-height: 20px;
          font-size: 13px;
          letter-spacing:1px;
          color: #333;
          cursor: pointer;
          padding: 2px 5px;
        }
        .deployButton{
          height: 30px;
          cursor: pointer;
          line-height: 30px;
          text-align: center;
          color: #fff;
          background-color: #3C3C3C;
          border-radius: 5px;
          margin:15px 0 0 0;
          border: 1px solid #929292;
        }
        .wiccNum{
          width: 100%;height: 30px;
          margin-top:5px;
          padding-top: 10px;
          input{
            width: calc(100% - 170px);
            margin-top: 0;
            color: #fff;
            border: 1px solid #929292;
            background-color: #3C3C3C;
          }
        }
      }
    }
    .runHash{
      position: relative;
      border-radius: 3px;margin-top: 10px;
      background-color: #3C3C3C;
      padding: 10px 15px;
      div{
        padding: 10px 15px;
        border: 1px solid #929292;
        background-color:#282828;
        p{
          font-size:16px;
        }
        textarea{
          background-color: #3C3C3C;
          border: 1px solid #929292;
          padding: 2px 5px;
          width: calc(100% - 10px);
          height: 50px;
          border-radius: 5px;
          margin-top: 10px;
          line-height: 20px;
          font-size:13px;
          letter-spacing:1px;
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
  .debug{
    height: 200px;
    line-height: 200px;
    background-color: rgba(60, 60, 60, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    border: 1px solid rgba(60, 60, 60, 1);
  }
  .help{
    height: 200px;
    padding: 10px;
    background-color: rgba(60, 60, 60, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    border: 1px solid rgba(60, 60, 60, 1);
    .contact{
      width: 100%;
      height: 54px;
      color: rgba(255, 255, 255, 1);
      font-size: 33px;
      text-align: left;
    }
    .mailbox{
      width: 100%;
      text-align: left;
      label{
        font-size: 20px;
      }
      p{
        font-size: 16px;
        margin: 8px 0 15px 0;
        line-height:25px;
        padding-left:40px;
        a{
          text-decoration: underline;
        }
      }
    }
  }

}
